---
import { quantums } from "@/quantums";
import { Project } from "astro:db";
import type { QuantumData } from "./Quantum.astro";

interface Props {
  id: number;
  title: string;
  category: string;
  preview: string;
  description: string;
}
const { title, id, category, preview, description } = Astro.props;
const quantum = quantums[category as keyof typeof quantums] as QuantumData;
const bgVariants = {
  blue: "bg-blue-500/10",
  indigo: "bg-indigo-500/10",
  cyan: "bg-cyan-500/10",
  green: "bg-green-500/10",
  slate: "bg-slate-500/10",
  violet: "bg-violet-500/10",
  orange: "bg-orange-500/10",
  yellow: "bg-yellow-500/10",
  purple: "bg-purple-500/10",
  teal: "bg-teal-500/10",
  lime: "bg-lime-500/10",
};
const textVariants = {
  blue: "text-blue-500",
  indigo: "text-indigo-500",
  cyan: "text-cyan-500",
  green: "text-green-500",
  slate: "text-slate-500",
  violet: "text-violet-500",
  orange: "text-orange-500",
  yellow: "text-yellow-500",
  purple: "text-purple-500",
  teal: "text-teal-500",
  lime: "text-lime-500",
};
---

<a href={`/project/${id}`}>
  <div class="space-y-3">
    <img src={preview} alt={title} class="rounded-lg" />
    <div>
      <div class="font-medium text-lg">{title}</div>
      <div class="text-hint">{description}</div>
    </div>
    <div
      class={`${bgVariants[quantum.color]} ${textVariants[quantum.color]} text-sm w-fit px-2 py-0.5 rounded-lg`}
    >
      {quantum.title}
    </div>
  </div>
</a>
